header {
    height: 70px;
    width: 100%;
    background-color: #FF0000;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
}
